
body{
    color: #404040 ;
    font-size: 10pt;
    background-color: darkgrey;
 }
 h1{
    color: #5f5f5c;  
    background-color: #f1efef;
 }
a{
    color: #26a400;
 }
 p{
    text-size-adjust:12 ;
    text-decoration: rgb(10, 15, 15);
    background-color: azure;
 }

 *{
   margin: 0;
}
.index.html{
   background-color: aqua;
   
}

.nav{
background-color: aquamarine;
padding: 0.5em;
}
.nav-link{
   font-size: 1.5em;
   text-decoration: none;
   margin-right: 0.5em;
   border: rgb(97, 97, 97) solid 0.2em;
   padding: 0.1em;
}
.nav-link:hover{
   background-color: rgb(252, 252, 252);
   color: rgb(9, 174, 240);
}
